/*Выполняет преборазования единиц px
в относительные единицы ====================================================================================================*/
@use "sass:math";
// TO %
@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}
//REM
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}
//EM
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}
/*Изменяет значение (в px) свойств (padding, font-size, margin) в соответсвии с установленными параметрами
================================================================================================================================*/

$maxWidth: 1600;
$maxWidthContainer: 1170;
//realSize = minSize + [diff * (realWidth / fullWidth)];

@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //Адаптив - меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        //Адаптив - больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        //По всей ширине
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}
